{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Weather App</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="background"></div>
        <form action="{% url 'get-weather' %}" class="form" method="POST">
            <input type="text" class="form__input" placeholder="Ваше местоположение" name="city">
            <button type="submit" class="form__submit">
                <i class='bx bx-search'></i>
            </button>
        </form>
        <div class="weather">
            <div class="weather__location"></div>
            <div class="weather__temp"></div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>